/* getting rid of defualt styles */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
}

h2 {
  color: black;
}

body {
  font-family: "Architects Daughter", cursive;
  background-color: #ffb45f;
}

/* Title */

header {
  display: flex;
  justify-content: center;
}

.title {
  font-size: 10vw;

  display: inline-block;
}

/* Img nav for single/multi */

.landing-nav {
  display: flex;
  justify-content: center;
}

.landing-nav img {
  width: 20vw;
}

.nav-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4vw;
}

.nav-box:hover {
  cursor: grab;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 20px white;
  border-radius: 25px;
  color: white;
  transition: ease-in 0.2s;
}

.landing-nav h2 {
  font-size: 4vw;
}
/*Single and multi player page styles*/

/* Game board grid */
.game-board {
  width: 35vw;
  color: white;
  display: grid;
  background-color: coral;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-radius: 10px;
  border: solid 7px black;
}

.box {
  font-size: 7vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 7px black;
}

/* Container for all content besides nav/title */
.mid-container {
  display: flex;
  position: relative;
  left: 25vw;
  align-content: center;
  width: 75vw;
}

/* Button styles */

button {
  background: none;
  color: inherit;
  border: none;
  padding: 4px;
  font: inherit;
  outline: inherit;
  cursor: grab;
}

button:hover {
  cursor: grab;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 20px white;
  border-radius: 15px;
  color: white;
  transition: ease-in 0.2s;
}

.buttons img {
  width: 5vw;
  padding: 0.7vw;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin-right: 0.7vw;
}

button img {
  width: 4vw;
}

/* Footer */

footer {
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.6vw;
  font-size: 1vw;
  text-align: center;
  background-color: coral;
  border-radius: 15px;
  border: 7px solid black;
}

/* Scroll bar */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: coral;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 118, 69);
}

/* hamburger nav */
.menu-nav {
  position: absolute;
  display: flex;
  padding: 1vw;
  font-size: 1.5vw;
  flex-direction: column;
}

.menu-nav img {
  width: 3vw;
}

.menu-container {
  display: none;
  flex-direction: column;
  justify-content: center;
}

/* Audio */

.audio-control {
  position: absolute;
  padding: 1vw;
  top: 0;
  right: 0;
}

.audio-control img {
  width: 3vw;
}

/* Media query for mobile */
@media only screen and (max-width: 600px) {
  .game-board {
    border: 3px solid black;
    border-radius: 5px;
  }

  .box {
    border: 3px solid black;
  }

  footer {
    border: 3px solid black;
  }

  button:hover {
    border-radius: 5px;
  }
}
